[submodule "AppCenterAuth/MSAL/microsoft-authentication-library-for-objc"]
	path = AppCenterAuth/MSAL/microsoft-authentication-library-for-objc
	url = https://github.com/AzureAD/microsoft-authentication-library-for-objc
[submodule "Vendor/PLCrashReporter"]
	path = Vendor/PLCrashReporter
	url = https://github.com/microsoft/plcrashreporter
